@import "tailwindcss";

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Mabry Pro", sans-serif;
  --font-mono: "Spline Sans Mono", monospace;
  /* --font-maple: "Maple Mono", "Spline Sans Mono", monospace; */
  --color-void: var(--bg);
  --color-signal: var(--text-main);
  --color-muted: var(--text-muted);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --grid-cols-layout: "280px 1fr";
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 2px;
}

pre,
code {
  font-family: var(--font-maple);
}
