@import "tailwindcss";

@font-face {
  font-family: "Maple Mono";
  src: url(/fonts/MapleMono-NF-Regular.ttf) format(truetype);
  font-style: normal;
}
@font-face {
  font-family: "Maple Mono";
  src: url(/fonts/MapleMono-NF-Italic.ttf) format(truetype);
  font-style: italic;
}

@font-face {
  font-family: "Mabry";
  src: url(/fonts/Mabry-Regular.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mabry";
  src: url(/fonts/Mabry-Italic.woff2) format(woff2);
  font-style: italic;
}
@font-face {
  font-family: "Mabry";
  src: url(/fonts/Mabry-Bold.woff2) format(woff2);
  font-weight: bold;
}

@theme {
  --font-sans: "Mabry", "Inter", sans-serif;
  --font-mono: "Spline Sans Mono", "Maple Mono", monospace;
  --font-maple: "Maple Mono", "Spline Sans Mono", monospace;
  --color-void: var(--bg);
  --color-signal: var(--text-main);
  --color-muted: var(--text-muted);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --grid-cols-layout: "280px 1fr";
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 2px;
}

pre,
code {
  font-family: var(--font-maple);
}
