---
import BaseLayout from "../layouts/BaseLayout.astro";
import PhotoImg from "../images/photo.png";
import { Image } from "astro:assets";
---

<BaseLayout title="SUMEET // SINGH">
  <header
    class="md:mb-16 opacity-0 animate-[fadeIn_0.5s_ease-out_forwards] grid grid-cols-1 md:grid-cols-[1fr_200px] gap-8 items-start"
  >
    <div>
      <h1
        class="font-sans font-bold text-5xl md:text-8xl leading-[0.9] mb-8 text-signal tracking-tight"
      >
        WEB /
        <span class="text-muted">DEV</span>
      </h1>

      <div class="max-w-2xl text-lg leading-relaxed text-muted">
        <p class="text-muted max-w-2xl text-2xl leading-relaxed font-sans">
          I am a web developer based in India. I have 7 years of experience in
          building beautiful web applications. I am a developer who believes
          software should be quiet, fast, and reliable.
        </p>
      </div>
    </div>

    <div class="hidden md:block relative group">
      <Image
        src={PhotoImg}
        alt="Profile photo"
        class="w-full aspect-square object-cover border border-border transition-all duration-500"
      />

      <div
        class="absolute inset-0 bg-void/10 pointer-events-none border border-border"
      >
      </div>

      <div
        class="mt-2 text-[10px] text-accent font-mono tracking-widest text-right"
      >
        :: OPERATOR_IMG_01
      </div>
    </div>
  </header>

  <section class="opacity-0 animate-[fadeIn_0.5s_ease-out_0.2s_forwards] mt-16">
    <div
      class="text-xs text-accent border-b border-border pb-2 mb-8 tracking-widest"
    >
      :: SYSTEM_ACTIONS
    </div>

    <div
      class="flex flex-col md:flex-row gap-6 items-start opacity-0 animate-[fadeIn_0.5s_ease-out_0.2s_forwards]"
    >
      <a
        href="/Resume.pdf"
        download
        class="group flex items-center gap-4 px-6 py-4 border border-muted hover:border-accent hover:bg-accent transition-all duration-300"
      >
        <div class="flex flex-col">
          <span
            class="text-xs text-muted group-hover:text-void transition-colors duration-300 font-mono"
            >EXECUTE:</span
          >
          <span
            class="font-bold text-signal text-xl tracking-normal group-hover:text-void transition-all duration-300 font-sans flex gap-2 items-center"
            >DOWNLOAD_CV <svg
              width="16"
              height="12"
              viewBox="0 0 16 12"
              aria-hidden="true"
              role="img"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              class="rotate-90"
            >
              <path
                d="M11.0161 4.48205C9.73854 3.57477 9.02498 2.33033 8.8754 0.748717C8.86559 0.640824 8.91341 0.574618 9.01885 0.550096L11.3251 0.00572808C11.3526 -0.000786781 11.3812 -0.00175522 11.4091 0.00287837C11.437 0.00751197 11.4637 0.0176552 11.4877 0.0327175C11.5117 0.0477799 11.5324 0.0674597 11.5487 0.0906112C11.5649 0.113763 11.5765 0.139923 11.5825 0.167567C12.1747 2.67239 12.8883 4.28343 15.783 4.62918C15.9277 4.64634 16 4.72726 16 4.87194V6.72205C16.0003 6.84617 15.957 6.96645 15.8777 7.06191C15.7984 7.15737 15.6881 7.22194 15.566 7.24435C13.1212 7.70289 11.8044 9.18151 11.6156 11.6802C11.6058 11.8224 11.531 11.8776 11.3913 11.8457L9.01885 11.2793C8.88398 11.2474 8.82636 11.164 8.84598 11.0292C9.07402 9.53584 9.76797 8.30856 10.9278 7.34734C11.0872 7.21492 11.0639 7.14872 10.8579 7.14872L0.426667 7.15975C0.313508 7.15975 0.204983 7.1148 0.124968 7.03478C0.0449522 6.95477 0 6.84624 0 6.73308V4.95285C0 4.83515 0.0600765 4.77508 0.18023 4.77262L10.9425 4.7101C11.2025 4.7101 11.227 4.63408 11.0161 4.48205Z"
                fill="currentColor"></path>
            </svg></span
          >
          <span class="text-muted group-hover:text-void duration-300 font-mono">
            PDF
          </span>
        </div>
      </a>

      <a
        href="mailto:hello@dev.io"
        class="group flex items-center gap-4 px-6 py-4 border border-muted hover:border-accent hover:bg-accent transition-all duration-300"
      >
        <div class="flex flex-col">
          <span
            class="text-xs text-muted group-hover:text-void duration-300 transition-colors font-mono"
            >CONTACT:</span
          >
          <span
            class="font-bold text-signal text-xl tracking-normal group-hover:text-void transition-all duration-300 font-sans flex gap-2 items-center"
            >INIT_COMMS
            <svg
              width="28px"
              height="28px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>

              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g>

              <g id="SVGRepo_iconCarrier">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z"
                  fill="currentColor"></path>
              </g>
            </svg>
          </span>
          <span class="group-hover:text-void duration-300 font-mono"
            >sumeetsngh0@gmail.com</span
          >
        </div>
      </a>
    </div>
  </section>

  <section class="opacity-0 animate-[fadeIn_0.5s_ease-out_0.2s_forwards] mt-16">
    <div
      class="text-xs text-accent border-b border-border pb-2 tracking-widest"
    >
      :: LOADED_MODULES
    </div>
    <div class="flex flex-col">
      <div
        class="group grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-0 py-6 border-b border-border items-baseline"
      >
        <span class="text-muted font-sans text-lg">Frameworks / Libraries</span>
        <span> React / NextJS, Vue, Astro, Express </span>
      </div>
      <div
        class="group grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-0 py-6 border-b border-border items-baseline"
      >
        <span class="text-muted font-sans text-lg">Languages</span>
        <span> JavaScript, Typescript, Python, C, C++, C# </span>
      </div>
      <div
        class="group grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-0 py-6 border-b border-border items-baseline"
      >
        <span class="text-muted font-sans text-lg">Learning</span>
        <span> Rust, SQLite, GO </span>
      </div>
      <div
        class="group grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-0 py-6 border-b border-border items-baseline"
      >
        <span class="text-muted font-sans text-lg">Environment</span>
        <span> Arch Linux, VSCode, Neovim </span>
      </div>
    </div>
  </section>
  <section
    class="opacity-0 animate-[fadeIn_0.5s_ease-out_0.3s_forwards] mb-16 mt-16"
  >
    <div
      class="text-xs text-accent border-b border-border pb-2 mb-8 tracking-widest"
    >
      :: RUNTIME_HISTORY
    </div>

    <div class="space-y-8">
      <!-- Work Item 1 -->
      <div class="grid grid-cols-1 md:grid-cols-[140px_1fr] gap-4">
        <div class="text-muted font-mono text-sm pt-1">2021 - PRES</div>
        <div>
          <h3 class="text-signal font-bold text-xl mb-1 font-sans">
            UI ENGINEER
          </h3>
          <div class="text-xs text-accent font-mono mb-3">PEGASYSTEMS</div>
        </div>
      </div>

      <!-- Work Item 2 -->
      <div class="grid grid-cols-1 md:grid-cols-[140px_1fr] gap-4">
        <div class="text-muted font-mono text-sm pt-1">2018 - 2021</div>
        <div>
          <h3 class="text-signal font-bold text-xl font-sans mb-1">
            PROJECT ENGINEER
          </h3>
          <div class="text-xs text-accent font-mono mb-3">WIPRO_LTD</div>
        </div>
      </div>

      <!-- Education / Separator -->
      <div
        class="border-t border-border/50 pt-8 mt-4 grid grid-cols-1 md:grid-cols-[140px_1fr] gap-4"
      >
        <div class="text-muted font-mono text-sm pt-1">2014 - 2018</div>
        <div>
          <h3 class="text-signal font-bold text-xl font-sans mb-1">
            BACHELORS IN ENGINEERING
          </h3>
          <div class="text-xs text-accent font-mono mb-2">
            GOVERNMENT_COLLEGE_OF_ENGINEERING
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
