---
import "@fontsource-variable/spline-sans-mono";
import "@fontsource-variable/spline-sans-mono/wght-italic.css";
import "@fontsource/maple-mono";
import "@fontsource/maple-mono/400-italic.css";
import { intersection } from "astro:schema";
import "../styles/global.css";
const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: light)").matches) {
          return "light";
        }
        return "dark";
      })();

      if (theme === "light") {
        document.documentElement.setAttribute("data-theme", "light");
      } else {
        document.documentElement.setAttribute("data-theme", "dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body class="bg-[#050505] text-signal font-mono antialiased overflow-hidden">
    <div
      class="grid grid-cols-1 md:grid-cols-[280px_minmax(0,1fr)] content-start md:content-stretch h-screen max-w-[1600px] mx-auto md:border-x border-border bg-void"
    >
      <aside
        id="sidebar"
        class="sticky md:relative top-0 left-0 w-full md:w-auto border-b md:border-b-0 md:border-r border-border p-6 md:p-8 flex flex-col bg-void z-50 transition-all duration-300 h-fit md:h-full"
      >
        <div
          class="flex flex-row md:flex-col justify-between items-center md:items-start w-full shrink-0"
        >
          <div>
            <div class="text-[0.65rem] text-muted mb-1 tracking-wider">
              <span
                class="inline-block w-1.5 h-1.5 bg-accent rounded-full mr-2 animate-pulse font-mono"
              ></span>
              SYSTEM_ONLINE
            </div>
            <a
              href="/"
              class="font-sans font-extrabold text-xl md:text-2xl leading-none tracking-tighter"
            >
              SUMEET / SINGH
            </a>
          </div>

          <button
            id="menu-toggle"
            class="md:hidden text-xs border border-border text-accent px-3 py-1 font-mono hover:bg-white/5 transition-colors"
          >
            [::] EXPAND
          </button>
        </div>

        <div
          id="sidebar-content"
          class="hidden md:flex flex-col justify-between grow mt-8 md:mt-0 pt-1.5 md:pt-0 border-t md:border-t-0 border-border overflow-y-auto max-h-[70vh] md:max-h-none"
        >
          <nav class="flex flex-col gap-3 mt-8 font-medium font-mono">
            <a
              href="/"
              class={`flex items-center transition-all duration-200 hover:cursor-pointer ${currentPath == "/" ? "text-signal font-bold" : "text-muted hover:text-signal hover:pl-2"}`}
            >
              {currentPath == "/" && <span class="text-accent mr-2">█</span>}
              01_ABOUT
            </a>

            <a
              href="/projects"
              class={`flex items-center transition-all duration-200 hover:cursor-pointer ${currentPath.startsWith("/projects") ? "text-signal font-bold" : "text-muted hover:text-signal hover:pl-2"}`}
            >
              {
                currentPath.startsWith("/projects") && (
                  <span class="text-accent mr-2">█</span>
                )
              }
              02_PROJECTS
            </a>
            <a
              href="/blog"
              class={`flex items-center transition-all duration-200 hover:cursor-pointer ${currentPath.startsWith("/blog") ? "text-signal font-bold" : "text-muted hover:text-signal hover:pl-2"}`}
            >
              {
                currentPath.startsWith("/blog") && (
                  <span class="text-accent mr-2">█</span>
                )
              }
              03_LOGS
            </a>
          </nav>

          <div class="text-xs text-muted mt-8 md:mt-auto pb-4 md:pb-0">
            <button
              id="theme-toggle"
              class="group flex items-center gap-4 px-6 py-2 border border-muted hover:border-accent hover:bg-accent transition-all duration-300 mb-4 text-sans text-sm hover:text-void"
            >
              <span id="theme-icon"></span> MODE
            </button>
            <div>
              IP: <span id="user-ip">127.0.0.1</span><br />
              SYS: <span id="clock">00:00</span><br />
              TERM: <span id="user-device">DETECTING...</span>
            </div>
          </div>
        </div>
      </aside>

      <main
        id="main-viewport"
        class="flex flex-col overflow-y-auto p-6 md:p-24 relative pt-8 md:pt-24 pb-32 md:pb-24 scroll-smooth"
      >
        <slot />
        <div
          id="scroll-indicator"
          class="hidden md:flex fixed bottom-12 right-12 flex-col items-center gap-2 pointer-events-none opacity-0 transition-opacity duration-500 z-40"
        >
          <span
            class="text-[12px] text-accent font-mono tracking-widest animate-pulse"
            >SCROLL_DOWN</span
          >
          <span class="text-accent text-xl animate-pulse"
            ><svg
              width="16"
              height="12"
              viewBox="0 0 16 12"
              aria-hidden="true"
              role="img"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              transform="matrix(6.123233995736766e-17,1,-1,6.123233995736766e-17,0,0)"
            >
              <path
                d="M11.0161 4.48205C9.73854 3.57477 9.02498 2.33033 8.8754 0.748717C8.86559 0.640824 8.91341 0.574618 9.01885 0.550096L11.3251 0.00572808C11.3526 -0.000786781 11.3812 -0.00175522 11.4091 0.00287837C11.437 0.00751197 11.4637 0.0176552 11.4877 0.0327175C11.5117 0.0477799 11.5324 0.0674597 11.5487 0.0906112C11.5649 0.113763 11.5765 0.139923 11.5825 0.167567C12.1747 2.67239 12.8883 4.28343 15.783 4.62918C15.9277 4.64634 16 4.72726 16 4.87194V6.72205C16.0003 6.84617 15.957 6.96645 15.8777 7.06191C15.7984 7.15737 15.6881 7.22194 15.566 7.24435C13.1212 7.70289 11.8044 9.18151 11.6156 11.6802C11.6058 11.8224 11.531 11.8776 11.3913 11.8457L9.01885 11.2793C8.88398 11.2474 8.82636 11.164 8.84598 11.0292C9.07402 9.53584 9.76797 8.30856 10.9278 7.34734C11.0872 7.21492 11.0639 7.14872 10.8579 7.14872L0.426667 7.15975C0.313508 7.15975 0.204983 7.1148 0.124968 7.03478C0.0449522 6.95477 0 6.84624 0 6.73308V4.95285C0 4.83515 0.0600765 4.77508 0.18023 4.77262L10.9425 4.7101C11.2025 4.7101 11.227 4.63408 11.0161 4.48205Z"
                fill="currentColor"></path>
            </svg></span
          >
        </div>
      </main>
    </div>

    <script>
      console.log(
        "%c SUMEET SINGH %c SYSTEM_READY ",
        "background: #ff4d00; color: #050505; font-weight: 900; padding: 4px 8px; font-family: monospace; border-radius: 2px;",
        "background: #050505; color: #ff4d00; padding: 4px 8px; border: 1px solid #ff4d00; font-family: monospace; border-radius: 2px;"
      );

      const themeBtn = document.getElementById("theme-toggle");
      const html = document.documentElement;
      const icon = document.getElementById("theme-icon");

      const currentTheme = localStorage.getItem("theme");
      if (icon) {
        icon.innerHTML =
          currentTheme === "light"
            ? '<svg width="15px" height="15px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.272 2.406a1 1 0 0 0-1.23-1.355C6.59 1.535 5.432 2.487 4.37 3.55a11.399 11.399 0 0 0 0 16.182c4.518 4.519 11.51 4.261 15.976-.205 1.062-1.062 2.014-2.22 2.498-3.673A1 1 0 0 0 21.55 14.6c-3.59 1.322-7.675.734-10.434-2.025-2.765-2.766-3.328-6.83-1.844-10.168Z" fill="currentColor"/></svg>'
            : '<svg width="15px" height="15px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" fill="currentColor"><path d="M12 0a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1ZM0 12a1 1 0 0 1 1-1h2a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1ZM21 11a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2h-2ZM13 21a1 1 0 1 0-2 0v2a1 1 0 1 0 2 0v-2ZM6.343 17.657a1 1 0 0 1 0 1.414L4.93 20.485a1 1 0 1 1-1.414-1.414l1.414-1.414a1 1 0 0 1 1.414 0ZM20.485 3.515a1 1 0 0 1 0 1.414l-1.414 1.414a1 1 0 1 1-1.414-1.414l1.414-1.414a1 1 0 0 1 1.414 0ZM3.515 3.515a1 1 0 0 1 1.414 0l1.414 1.414A1 1 0 1 1 4.93 6.343L3.515 4.93a1 1 0 0 1 0-1.414ZM17.657 17.657a1 1 0 0 1 1.414 0l1.414 1.414a1 1 0 1 1-1.414 1.414l-1.414-1.414a1 1 0 0 1 0-1.414ZM5 12a7 7 0 1 1 14 0 7 7 0 0 1-14 0Z"/></g><defs><clipPath id="a"><path fill="currentColor" d="M0 0h24v24H0z"/></clipPath></defs></svg>';
      }

      themeBtn?.addEventListener("click", () => {
        const current = html.getAttribute("data-theme");
        if (current === "dark") {
          html.setAttribute("data-theme", "light");
          localStorage.setItem("theme", "light");
          if (icon)
            icon.innerHTML =
              '<svg width="15px" height="15px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.272 2.406a1 1 0 0 0-1.23-1.355C6.59 1.535 5.432 2.487 4.37 3.55a11.399 11.399 0 0 0 0 16.182c4.518 4.519 11.51 4.261 15.976-.205 1.062-1.062 2.014-2.22 2.498-3.673A1 1 0 0 0 21.55 14.6c-3.59 1.322-7.675.734-10.434-2.025-2.765-2.766-3.328-6.83-1.844-10.168Z" fill="currentColor"/></svg>';
        } else {
          html.setAttribute("data-theme", "dark");
          localStorage.setItem("theme", "dark");
          if (icon)
            icon.innerHTML =
              '<svg width="15px" height="15px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" fill="currentColor"><path d="M12 0a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1ZM0 12a1 1 0 0 1 1-1h2a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1ZM21 11a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2h-2ZM13 21a1 1 0 1 0-2 0v2a1 1 0 1 0 2 0v-2ZM6.343 17.657a1 1 0 0 1 0 1.414L4.93 20.485a1 1 0 1 1-1.414-1.414l1.414-1.414a1 1 0 0 1 1.414 0ZM20.485 3.515a1 1 0 0 1 0 1.414l-1.414 1.414a1 1 0 1 1-1.414-1.414l1.414-1.414a1 1 0 0 1 1.414 0ZM3.515 3.515a1 1 0 0 1 1.414 0l1.414 1.414A1 1 0 1 1 4.93 6.343L3.515 4.93a1 1 0 0 1 0-1.414ZM17.657 17.657a1 1 0 0 1 1.414 0l1.414 1.414a1 1 0 1 1-1.414 1.414l-1.414-1.414a1 1 0 0 1 0-1.414ZM5 12a7 7 0 1 1 14 0 7 7 0 0 1-14 0Z"/></g><defs><clipPath id="a"><path fill="currentColor" d="M0 0h24v24H0z"/></clipPath></defs></svg>';
        }
      });

      const menuBtn = document.getElementById("menu-toggle");
      const sidebar = document.getElementById("sidebar");
      const content = document.getElementById("sidebar-content");
      const mainViewport = document.getElementById("main-viewport");
      menuBtn?.addEventListener("click", () => {
        const isExpanded = !content?.classList.contains("hidden");

        if (!isExpanded) {
          // EXPAND
          content?.classList.remove("hidden");
          content?.classList.add("flex");
          if (menuBtn) menuBtn.innerText = "[-] COLLAPSE";
          //   mainViewport?.classList.add("opacity-[0.1]");
        } else {
          // COLLAPSE
          content?.classList.add("hidden");
          content?.classList.remove("flex");
          if (menuBtn) menuBtn.innerText = "[::] EXPAND";
          //   mainViewport?.classList.remove("opacity-[0.1]");
        }
      });

      const scrollIndicator = document.getElementById("scroll-indicator");
      const checkScroll = () => {
        if (!mainViewport || !scrollIndicator) return;
        const scrollableDistance =
          mainViewport.scrollHeight - mainViewport.clientHeight;
        if (scrollableDistance < 50) {
          scrollIndicator.style.opacity = "0";
          return;
        }
        const isScrolledDown = mainViewport.scrollTop > 50;
        const isNearBottom =
          mainViewport.scrollTop + mainViewport.clientHeight >=
          mainViewport.scrollHeight - 20;
        if (isScrolledDown || isNearBottom) {
          scrollIndicator.style.opacity = "0";
        } else {
          scrollIndicator.style.opacity = "1";
        }
      };
      if (mainViewport) {
        checkScroll();
        mainViewport.addEventListener("scroll", checkScroll);
        window.addEventListener("resize", checkScroll);
      }

      setInterval(() => {
        const clock = document.getElementById("clock");
        if (clock) {
          const d = new Date();
          clock.innerText =
            d.getHours().toString().padStart(2, "0") +
            ":" +
            d.getMinutes().toString().padStart(2, "0");
        }
      }, 1000);
      fetch("https://api.ipify.org?format=json")
        .then((response) => response.json())
        .then((data) => {
          const ipSpan = document.getElementById("user-ip");
          if (ipSpan) ipSpan.innerText = data.ip;
        })
        .catch((error) => {
          console.log("System Info: IP detection blocked by client.", error);
        });
      const getSystemInfo = () => {
        const ua = navigator.userAgent;
        let os = "UNKNOWN";
        let browser = "UNKNOWN";

        if (ua.indexOf("Win") !== -1) os = "WIN";
        if (ua.indexOf("Mac") !== -1) os = "MACOS";
        if (ua.indexOf("Linux") !== -1) os = "LINUX";
        if (ua.indexOf("Android") !== -1) os = "ANDROID";
        if (ua.indexOf("like Mac") !== -1) os = "IOS";

        if (ua.indexOf("Chrome") !== -1) browser = "CHROME";
        else if (ua.indexOf("Firefox") !== -1) browser = "FIREFOX";
        else if (ua.indexOf("Safari") !== -1) browser = "SAFARI";
        else if (ua.indexOf("Edge") !== -1) browser = "EDGE";

        return `${browser} // ${os}`;
      };

      const deviceSpan = document.getElementById("user-device");
      if (deviceSpan) deviceSpan.innerText = getSystemInfo();
    </script>
  </body>
</html>

<style is:global>
  :root {
    --bg: #050505;
    --text-main: #eeeeee;
    --text-muted: #9c9c9c;
    --border: #222222;
    --accent: #ff4d00;
  }

  [data-theme="light"] {
    --bg: #fafafa;
    --text-main: #111111;
    --text-muted: #555555;
    --border: #e0e0e0;
    --accent: #ff4d00;
  }
  .grid-cols-layout {
    grid-template-columns: 280px 1fr;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
